<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<settings>
    	<setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.reign.gcld.user.domain"></package>
        <package name="com.reign.gcld.player.domain"></package>
        <package name="com.reign.gcld.building.domain"></package>
        <package name="com.reign.gcld.chat.domain"></package>
        <package name="com.reign.gcld.timer.domain"></package>
        <package name="com.reign.gcld.mail.domain"></package>
        <package name="com.reign.gcld.tavern.domain"></package>
        <package name="com.reign.gcld.general.domain"></package>
        <package name="com.reign.gcld.task.domain"></package>
        <package name="com.reign.gcld.store.domain"></package>
        <package name="com.reign.gcld.score.domain"></package>
        <package name="com.reign.gcld.tech.domain"></package>
        <package name="com.reign.gcld.battle.domain"></package>
        <package name="com.reign.gcld.world.domain"></package>
        <package name="com.reign.gcld.treasure.domain"></package>
        <package name="com.reign.gcld.affair.domain"></package>
        <package name="com.reign.gcld.notice.domain"></package>
        <package name="com.reign.gcld.market.domain"></package>
        <package name="com.reign.gcld.grouparmy.domain"></package>
        <package name="com.reign.gcld.weapon.domain"></package>
        <package name="com.reign.gcld.mine.domain"></package>
        <package name="com.reign.gcld.pay.domain"></package>
        <package name="com.reign.gcld.system.domain"></package>
        <package name="com.reign.gcld.gift.domain"></package>
        <package name="com.reign.gcld.kfwd.domain"></package>
        <package name="com.reign.gcld.slave.domain"></package>
        <package name="com.reign.gcld.rank.domain"></package>
        <package name="com.reign.gcld.team.domain"></package>
        <package name="com.reign.gcld.juben.domain"></package>
        <package name="com.reign.gcld.tickets.domain"></package>
        <package name="com.reign.gcld.kfgz.domain"></package>
        <package name="com.reign.gcld.activity.domain"></package>
        <package name="com.reign.gcld.nation.domain"></package>
        <package name="com.reign.gcld.phantom.domain"></package>
        <package name="com.reign.gcld.feat.domain"></package>
        <package name="com.reign.gcld.incense.domain"></package>
        <package name="com.reign.gcld.politics.domain"></package>
        <package name="com.reign.gcld.blacksmith.domain"></package>
        <package name="com.reign.gcld.courtesy.domain"></package>
        <package name="com.reign.gcld.huizhan.domain"></package>
        <package name="com.reign.gcld.event.domain"></package>
        <package name="com.reign.gcld.kfzb.domain"></package>
        <package name="com.reign.gcld.diamondshop.domain"></package>
        <package name="com.reign.gcld.dinner.domain"></package>
    </typeAliases>

    <mappers>
        <mapper resource="com/reign/gcld/user/domain/User.xml"/>
        <mapper resource="com/reign/gcld/user/domain/UserLoginInfo.xml"/>
        <mapper resource="com/reign/gcld/user/domain/UserBlock.xml"/>
        <mapper resource="com/reign/gcld/user/domain/UserReward.xml"/>
        <mapper resource="com/reign/gcld/player/domain/Player.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerName.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerResource.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerConstants.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerBak.xml"/>
        <mapper resource="com/reign/gcld/building/domain/PlayerBuilding.xml"/>
        <mapper resource="com/reign/gcld/building/domain/PlayerBuildingWork.xml"/>
        <mapper resource="com/reign/gcld/building/domain/PlayerResourceAddition.xml"/>
        <mapper resource="com/reign/gcld/building/domain/BluePrint.xml"/>
        <mapper resource="com/reign/gcld/chat/domain/Silence.xml"/>
        <mapper resource="com/reign/gcld/timer/domain/PlayerJob.xml"/>
        <mapper resource="com/reign/gcld/mail/domain/Mail.xml"/>
        <mapper resource="com/reign/gcld/tavern/domain/PlayerGeneralRefresh.xml"/>
        <mapper resource="com/reign/gcld/tavern/domain/PlayerTavern.xml"/>
        <mapper resource="com/reign/gcld/general/domain/PlayerGeneral.xml"/>
        <mapper resource="com/reign/gcld/task/domain/PlayerTask.xml"/>
        <mapper resource="com/reign/gcld/general/domain/PlayerGeneralMilitary.xml"/>
        <mapper resource="com/reign/gcld/general/domain/PlayerGeneralCivil.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerAttribute.xml"/>
        <mapper resource="com/reign/gcld/player/domain/LoginReward.xml"/>
        <mapper resource="com/reign/gcld/store/domain/PlayerItemRefresh.xml"/>
        <mapper resource="com/reign/gcld/store/domain/PlayerStore.xml"/>
        <mapper resource="com/reign/gcld/store/domain/StoreHouse.xml"/>
        <mapper resource="com/reign/gcld/score/domain/PlayerScoreRank.xml"/>
        <mapper resource="com/reign/gcld/tech/domain/PlayerTech.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerPower.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerArmy.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/OfficerBuildingInfo.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/BattleInfo.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerOfficerBuilding.xml"/>
        <mapper resource="com/reign/gcld/world/domain/City.xml"/>
        <mapper resource="com/reign/gcld/world/domain/PlayerSearch.xml"/>
        <mapper resource="com/reign/gcld/treasure/domain/PlayerTreasure.xml"/>
        <mapper resource="com/reign/gcld/notice/domain/SystemNotice.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerBattleReward.xml"/>
        <mapper resource="com/reign/gcld/market/domain/PlayerMarket.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerBattleAuto.xml"/>
        <mapper resource="com/reign/gcld/grouparmy/domain/PlayerGroupArmy.xml"/>
        <mapper resource="com/reign/gcld/grouparmy/domain/GroupArmy.xml"/>
        <mapper resource="com/reign/gcld/weapon/domain/PlayerWeapon.xml"/>
        <mapper resource="com/reign/gcld/world/domain/PlayerKillReward.xml"/>
        <mapper resource="com/reign/gcld/world/domain/PlayerKillInfo.xml"/>
        <mapper resource="com/reign/gcld/world/domain/CityNpc.xml"/>
        <mapper resource="com/reign/gcld/world/domain/WholeKill.xml"/>
        <mapper resource="com/reign/gcld/world/domain/CitiesPerHour.xml"/>
		<mapper resource="com/reign/gcld/world/domain/CountryRewardPerHour.xml"/>
        <mapper resource="com/reign/gcld/mine/domain/PlayerMine.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerMineBatInfo.xml"/>
        <mapper resource="com/reign/gcld/pay/domain/PlayerPay.xml"/>
        <mapper resource="com/reign/gcld/pay/domain/PlayerVip.xml"/>
        <mapper resource="com/reign/gcld/system/domain/DbVersion.xml"/>
        <mapper resource="com/reign/gcld/world/domain/PlayerWorld.xml"/>
        <mapper resource="com/reign/gcld/gift/domain/PlayerGift.xml"/>
        <mapper resource="com/reign/gcld/gift/domain/BakPlayerGift.xml"/>
        <mapper resource="com/reign/gcld/gift/domain/GiftInfo.xml"/>
        <mapper resource="com/reign/gcld/gift/domain/BakGiftInfo.xml"/>
        <mapper resource="com/reign/gcld/gift/domain/GiftUuid.xml"/>
        <mapper resource="com/reign/gcld/gift/domain/PlayerOnlineReward.xml"/>
        <mapper resource="com/reign/gcld/store/domain/StoreHouseSell.xml"/>
        <mapper resource="com/reign/gcld/world/domain/SearchComboEvent.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerBatRank.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/NationInfo.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerBattleAttribute.xml"/>
        <mapper resource="com/reign/gcld/kfwd/domain/KfwdMatchSign.xml"/>
        <mapper resource="com/reign/gcld/kfwd/domain/KfwdSignup.xml"/>
        <mapper resource="com/reign/gcld/kfwd/domain/KfwdReward.xml"/>
        <mapper resource="com/reign/gcld/kfwd/domain/KfwdRewardDouble.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerArmyReward.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerArmyExtra.xml"/>
        <mapper resource="com/reign/gcld/slave/domain/PlayerSlave.xml"/>
        <mapper resource="com/reign/gcld/slave/domain/Slaveholder.xml"/>
        <mapper resource="com/reign/gcld/world/domain/CityNpcLost.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerMistLost.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/CityDefenceNpc.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/PlayerGeneralMilitaryPhantom.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/OfficerToken.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/ForceInfo.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/NationTask.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/TaskKillInfo.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/BarbariansKillInfo.xml"/>
        <mapper resource="com/reign/gcld/team/domain/PlayerTeam.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/BarbarainPhantom.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/ExpeditionArmy.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerOccupyCity.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerChallengeInfo.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerRankingReward.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/BarbarainExpeditionArmy.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/TaskInit.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerExpandInfo.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/NationTaskExpeditionArmy.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerCoupon.xml"/>
        <mapper resource="com/reign/gcld/juben/domain/PlayerScenario.xml"/>
        <mapper resource="com/reign/gcld/juben/domain/PlayerScenarioCity.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/ScenarioNpc.xml"/>
        <mapper resource="com/reign/gcld/system/domain/ServerTime.xml"/>
        <mapper resource="com/reign/gcld/store/domain/StoreHouseBak.xml"/>
        <mapper resource="com/reign/gcld/juben/domain/ScenarioInfo.xml"/>
        <mapper resource="com/reign/gcld/chat/domain/PlayerBlack.xml"/>
        <mapper resource="com/reign/gcld/tickets/domain/PlayerTickets.xml"/>
        <mapper resource="com/reign/gcld/kfgz/domain/KfgzSignup.xml"/>
        <mapper resource="com/reign/gcld/kfgz/domain/KfgzPlayerReward.xml"/>
        <mapper resource="com/reign/gcld/kfgz/domain/KfgzPlayerFinalReward.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/Activity.xml"/>
        <mapper resource="com/reign/gcld/kfgz/domain/KfgzTitle.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/PlayerLvExp.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/PlayerDragon.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/PlayerIron.xml"/>
        <mapper resource="com/reign/gcld/nation/domain/PlayerTryRank.xml"/>
        <mapper resource="com/reign/gcld/nation/domain/PlayerPRank.xml"/>
        <mapper resource="com/reign/gcld/phantom/domain/PlayerWizard.xml"/>
        <mapper resource="com/reign/gcld/feat/domain/PlayerFeatRank.xml"/>
        <mapper resource="com/reign/gcld/feat/domain/FeatBuilding.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/GoldOrder.xml"/>
        <mapper resource="com/reign/gcld/incense/domain/PlayerIncense.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerOfficeRelative.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerIncenseWeaponEffect.xml"/>
        <mapper resource="com/reign/gcld/store/domain/PlayerQuenchingRelative.xml"/>
        <mapper resource="com/reign/gcld/politics/domain/PlayerPoliticsEvent.xml"/>
        <mapper resource="com/reign/gcld/battle/domain/YellowTurbans.xml"/>
        <mapper resource="com/reign/gcld/blacksmith/domain/PlayerBlacksmith.xml"/>
        <mapper resource="com/reign/gcld/courtesy/domain/PlayerLiYi.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/BonusActivity.xml"/>
        <mapper resource="com/reign/gcld/huizhan/domain/HuizhanHistory.xml"/>
        <mapper resource="com/reign/gcld/huizhan/domain/PlayerHuizhan.xml"/>
        <mapper resource="com/reign/gcld/event/domain/PlayerEvent.xml"/>
        <mapper resource="com/reign/gcld/event/domain/PlayerEvent.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/ActivityNpc.xml"/>
        <mapper resource="com/reign/gcld/activity/domain/Privilege360.xml"/>
        <mapper resource="com/reign/gcld/kfzb/domain/KfzbInfo.xml"/>
        <mapper resource="com/reign/gcld/kfzb/domain/KfzbReward.xml"/>
        <mapper resource="com/reign/gcld/kfzb/domain/KfzbSignup.xml"/>
        <mapper resource="com/reign/gcld/kfzb/domain/KfzbSupport.xml"/>
        <mapper resource="com/reign/gcld/kfzb/domain/KfzbFeast.xml"/>
        <mapper resource="com/reign/gcld/world/domain/PlayerFarm.xml"/>
        <mapper resource="com/reign/gcld/pay/domain/PlayerVipTx.xml"/>
        <mapper resource="com/reign/gcld/diamondshop/domain/PlayerDiamondShop.xml"/>
        <mapper resource="com/reign/gcld/player/domain/PlayerTaobao.xml"/>
        <mapper resource="com/reign/gcld/dinner/domain/PlayerDinner.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerIndivTask.xml"/>
        <mapper resource="com/reign/gcld/rank/domain/PlayerHunger.xml"/>
    </mappers>
    
</configuration>