<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyw.novelGame.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.zyw.novelGame.model.Book">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_name_en" jdbcType="VARCHAR" property="bookNameEn" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="is_completion" jdbcType="INTEGER" property="isCompletion" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="hits" jdbcType="BIGINT" property="hits" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="author_name_en" jdbcType="VARCHAR" property="authorNameEn" />
    <result column="last_store_id" jdbcType="VARCHAR" property="lastStoreId" />
  </resultMap>
    <resultMap id="BookInfoResultMap" type="java.util.HashMap">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_name_en" jdbcType="VARCHAR" property="bookNameEn" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
     <result column="cata_name" jdbcType="VARCHAR" property="cataName" />
    <result column="cata_name_en" jdbcType="VARCHAR" property="cataNameEn" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="is_completion" jdbcType="INTEGER" property="isCompletion" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="hits" jdbcType="BIGINT" property="hits" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="author_name_en" jdbcType="VARCHAR" property="authorNameEn" />
  </resultMap>
    <resultMap id="BookRelationResultMap" type="java.util.HashMap">
    <result column="cata_id" jdbcType="VARCHAR" property="cataId" />
    <result column="cata_name" jdbcType="VARCHAR" property="cataName" />
    <result column="cata_name_en" jdbcType="VARCHAR" property="cataNameEn" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_name_en" jdbcType="VARCHAR" property="bookNameEn" />
     <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
     <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="author_name_en" jdbcType="VARCHAR" property="authorNameEn" />
  </resultMap>
      <resultMap id="BookUpdateInfoResultMap" type="java.util.HashMap">
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="order_index" jdbcType="BIGINT" property="orderIndex" />
    <result column="cata_id" jdbcType="VARCHAR" property="cataId" />
    <result column="cata_name" jdbcType="VARCHAR" property="cataName" />
     <result column="cata_name_en" jdbcType="VARCHAR" property="cataNameEn" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_name_en" jdbcType="VARCHAR" property="bookNameEn" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="author_name_en" jdbcType="VARCHAR" property="authorNameEn" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="is_completion" jdbcType="VARCHAR" property="isCompletion" />
    <result column="last_store_id" jdbcType="VARCHAR" property="lastStoreId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, book_id, book_name, book_name_en, book_desc, create_time, update_time, is_completion, 
    author_id, hits, image_url, author_name,author_name_en,last_store_id
  </sql>
  <select id="queryBookUpdateInfo"  parameterType="java.lang.String" resultMap="BookUpdateInfoResultMap">
   SELECT
  a.store_id,
  a.store_name,
  a.order_index,
  b.book_id,
  b.book_name,
  b.book_name_en,
  c.cata_id,
  c.cata_name,
  c.cata_name_en,
  e.author_id,
  e.author_name,
  e.author_name_en,
  a.create_time,
  b.is_completion
FROM
  store a,
  book b,
  catagory c,
  cata_book_relation d,
  author e
WHERE d.book_id = b.book_id
  AND d.cata_id = c.cata_id
  AND b.last_store_id = a.store_id
  AND b.author_id = e.author_id
  <if test="cataNameEn != null">
  AND c.cata_name_en =#{cataNameEn,jdbcType=VARCHAR}
  </if>
    <if test="isCompletion !=-1">
  AND b.is_completion =#{isCompletion,jdbcType=INTEGER}
  </if>
  <if test="order == 'a.create_time'">
    ORDER BY  a.create_time  DESC
  </if>
  <if test="order == 'b.create_time'">
    ORDER BY  b.create_time  DESC
  </if>
  </select>
   <select id="queryBookRelationByCataNameEn"  resultMap="BookRelationResultMap">
   SELECT b.cata_id,b.cata_name,b.cata_name_en,a.book_id,a.book_name,a.book_name_en,a.image_url,a.book_desc,a.author_id,a.author_name,a.author_name_en FROM book a,catagory b,cata_book_relation c WHERE a.book_id=c.book_id AND b.cata_id=c.cata_id  and  b.cata_name_en=#{cataNameEn,jdbcType=VARCHAR}
     ORDER BY a.hits DESC LIMIT #{count,jdbcType=INTEGER} OFFSET 0
  </select>
       <select id="queryBookByCreateTime" resultMap="BookRelationResultMap">
       SELECT b.cata_id,b.cata_name,b.cata_name_en,a.book_id,a.book_name,a.image_url,a.book_name_en,a.book_desc,a.author_id,a.author_name,a.author_name_en FROM book a,catagory b,cata_book_relation c WHERE a.book_id=c.book_id AND b.cata_id=c.cata_id  
     ORDER BY a.create_time DESC LIMIT 31 OFFSET 0;
  </select>
     <select id="queryBook" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    <where>
     <if test="isCompletion !=-1">
             is_completion = #{isCompletion,jdbcType=INTEGER}
      </if>
    </where>
     <if test="order == 'hits'">
     order by hits desc limit #{count,jdbcType=INTEGER} offset 0  
      </if>
       <if test="order == 'create_time'">
     order by create_time desc limit #{count,jdbcType=INTEGER} offset 0  
      </if>
      <if test="order == null">
      limit #{count,jdbcType=INTEGER} offset 0  
      </if>
  </select>
  
<select id="queryBookByHits" resultMap="BaseResultMap">
    SELECT * FROM (SELECT a.author_name,a.author_name_en,sum(hits) AS hits,a.book_name,a.book_name_en FROM book a GROUP BY a.author_name_en) c  ORDER BY hits desc limit 20 offset 0
</select>
  
  
    <select id="queryBookInfo" resultMap="BookInfoResultMap">
    select 
    a.id, a.book_id, book_name, book_name_en, book_desc, a.create_time, a.update_time, is_completion, 
    author_id, hits, image_url, author_name,author_name_en,c.cata_name,c.cata_name_en  
    FROM book a,cata_book_relation b,catagory c WHERE b.book_id=a.book_id AND b.cata_id=c.cata_id  
      <if test="bookName != null">
        and a.book_name = #{bookName,jdbcType=VARCHAR}
      </if>
       <if test="bookNameEn != null">
        and a.book_name_en = #{bookNameEn,jdbcType=VARCHAR}
      </if>
      <if test="authorName != null">
        and a.author_name = #{authorName,jdbcType=VARCHAR}
      </if>
      <if test="authorNameEn != null">
        and a.author_name_en = #{authorNameEn,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zyw.novelGame.model.Book">
    insert into book (id, book_id, book_name, 
      book_name_en, book_desc, create_time, 
      update_time, is_completion, author_id, 
      hits, image_url, author_name,author_name_en,last_store_id
      )
    values (#{id,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, 
      #{bookNameEn,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{isCompletion,jdbcType=INTEGER}, #{authorId,jdbcType=VARCHAR}, 
      #{hits,jdbcType=BIGINT}, #{imageUrl,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR},#{authorNameEn,jdbcType=VARCHAR},#{lastStoreId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyw.novelGame.model.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="bookNameEn != null">
        book_name_en,
      </if>
      <if test="bookDesc != null">
        book_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isCompletion != null">
        is_completion,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
      <if test="authorNameEn != null">
        author_name_en,
      </if>
      <if test="lastStoreId != null">
        last_store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNameEn != null">
        #{bookNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="isCompletion != null">
        #{isCompletion,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorNameEn != null">
        #{authorNameEn,jdbcType=VARCHAR},
      </if>
      <if test="lastStoreId != null">
        #{lastStoreId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyw.novelGame.model.Book">
    update book
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNameEn != null">
        book_name_en = #{bookNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isCompletion != null">
        is_completion = #{isCompletion,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorNameEn != null">
        author_name_en = #{authorNameEn,jdbcType=VARCHAR},
      </if>
      <if test="lastStoreId != null">
        last_store_id = #{lastStoreId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyw.novelGame.model.Book">
    update book
    set book_id = #{bookId,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR},
      book_name_en = #{bookNameEn,jdbcType=VARCHAR},
      book_desc = #{bookDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      is_completion = #{isCompletion,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=BIGINT},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      author_name = #{authorName,jdbcType=VARCHAR},
      author_name_en = #{authorNameEn,jdbcType=VARCHAR},
      last_store_id = #{lastStoreId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
    <update id="updateByBookID" parameterType="com.zyw.novelGame.model.Book">
    update book
    <set>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNameEn != null">
        book_name_en = #{bookNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isCompletion != null">
        is_completion = #{isCompletion,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorNameEn != null">
        author_name_en = #{authorNameEn,jdbcType=VARCHAR},
      </if>
      <if test="lastStoreId != null">
        last_store_id = #{lastStoreId,jdbcType=VARCHAR},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=VARCHAR}
  </update>
</mapper>