<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyw.novelGame.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.zyw.novelGame.model.Book">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_name_en" jdbcType="VARCHAR" property="bookNameEn" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="is_completion" jdbcType="INTEGER" property="isCompletion" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="hits" jdbcType="BIGINT" property="hits" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
  </resultMap>
    <resultMap id="BookRelationResultMap" type="java.util.HashMap">
    <result column="cata_id" jdbcType="VARCHAR" property="cataId" />
    <result column="cata_name" jdbcType="VARCHAR" property="cataName" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
  </resultMap>
      <resultMap id="BookUpdateInfoResultMap" type="java.util.HashMap">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="cata_id" jdbcType="VARCHAR" property="cataId" />
    <result column="cata_name" jdbcType="VARCHAR" property="cataName" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, book_id, book_name, book_name_en, book_desc, create_time, update_time, is_completion, 
    author_id, hits, image_url, author_name
  </sql>
  <select id="queryBookUpdateInfo"  resultMap="BookUpdateInfoResultMap">
   SELECT 
  a.id,a.store_name,b.book_id,b.book_name,c.cata_id,c.cata_name,e.author_id,e.author_name,a.create_time
FROM
  (SELECT 
    MAX(a.`create_time`) AS create_time,
    id,
    a.store_name,
    a.book_id 
  FROM
    store a 
  GROUP BY a.book_id) a,
  book b,
  catagory c,
  cata_book_relation d,
  author e
WHERE b.book_id = d.book_id 
  AND a.book_id = b.book_id 
  AND d.cata_id=c.cata_id 
  AND b.author_id=e.author_id ORDER BY a.create_time DESC LIMIT 25 OFFSET 0;
  </select>
   <select id="queryBookRelationByCataID" parameterType="java.lang.String" resultMap="BookRelationResultMap">
   SELECT b.cata_id,b.cata_name,a.book_id,a.book_name,a.author_id,a.author_name FROM book a,catagory b,cata_book_relation c WHERE a.book_id=c.book_id AND b.cata_id=c.cata_id  and  b.cata_id=#{cataId,jdbcType=VARCHAR}
     ORDER BY a.hits DESC LIMIT 7 OFFSET 0;
  </select>
       <select id="queryBookByCreateTime" resultMap="BookRelationResultMap">
       SELECT b.cata_id,b.cata_name,a.book_id,a.book_name,a.author_id,a.author_name FROM book a,catagory b,cata_book_relation c WHERE a.book_id=c.book_id AND b.cata_id=c.cata_id  
     ORDER BY a.create_time DESC LIMIT 25 OFFSET 0;
  </select>
     <select id="queryBookByHits" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
     order by hits desc limit 6 offset 0  
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from book
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zyw.novelGame.model.Book">
    insert into book (id, book_id, book_name, 
      book_name_en, book_desc, create_time, 
      update_time, is_completion, author_id, 
      hits, image_url, author_name
      )
    values (#{id,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, 
      #{bookNameEn,jdbcType=VARCHAR}, #{bookDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{isCompletion,jdbcType=INTEGER}, #{authorId,jdbcType=VARCHAR}, 
      #{hits,jdbcType=BIGINT}, #{imageUrl,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyw.novelGame.model.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="bookNameEn != null">
        book_name_en,
      </if>
      <if test="bookDesc != null">
        book_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isCompletion != null">
        is_completion,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNameEn != null">
        #{bookNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="isCompletion != null">
        #{isCompletion,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyw.novelGame.model.Book">
    update book
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNameEn != null">
        book_name_en = #{bookNameEn,jdbcType=VARCHAR},
      </if>
      <if test="bookDesc != null">
        book_desc = #{bookDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isCompletion != null">
        is_completion = #{isCompletion,jdbcType=INTEGER},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=BIGINT},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyw.novelGame.model.Book">
    update book
    set book_id = #{bookId,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR},
      book_name_en = #{bookNameEn,jdbcType=VARCHAR},
      book_desc = #{bookDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      is_completion = #{isCompletion,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=BIGINT},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      author_name = #{authorName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>