<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyw.novelGame.mapper.ModelMapper">
  <resultMap id="BaseResultMap" type="com.zyw.novelGame.model.Model">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="model_id" jdbcType="VARCHAR" property="modelId" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="model_name_en" jdbcType="VARCHAR" property="modelNameEn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, model_id, model_name, model_name_en
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from model
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from model
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zyw.novelGame.model.Model">
    insert into model (id, model_id, model_name, 
      model_name_en)
    values (#{id,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, 
      #{modelNameEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyw.novelGame.model.Model">
    insert into model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelId != null">
        model_id,
      </if>
      <if test="modelName != null">
        model_name,
      </if>
      <if test="modelNameEn != null">
        model_name_en,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelNameEn != null">
        #{modelNameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyw.novelGame.model.Model">
    update model
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelNameEn != null">
        model_name_en = #{modelNameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyw.novelGame.model.Model">
    update model
    set model_id = #{modelId,jdbcType=VARCHAR},
      model_name = #{modelName,jdbcType=VARCHAR},
      model_name_en = #{modelNameEn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>