<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyw.novelGame.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.zyw.novelGame.model.Store">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_url" jdbcType="VARCHAR" property="storeUrl" />
    <result column="pre_store_id" jdbcType="VARCHAR" property="preStoreId" />
    <result column="next_store_id" jdbcType="VARCHAR" property="nextStoreId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="order_index" jdbcType="BIGINT" property="orderIndex" />
  </resultMap>
   <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zyw.novelGame.model.BookData">
    <result column="store_content" jdbcType="LONGVARBINARY" property="storeContent" />
  </resultMap>
      <resultMap id="BookStoreResultMap" type="java.util.HashMap">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="book_name_en" jdbcType="VARCHAR" property="bookNameEn" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
     <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="cata_name" jdbcType="VARCHAR" property="cataName" />
    <result column="cata_name_en" jdbcType="VARCHAR" property="cataNameEn" />
    <result column="store_url" jdbcType="VARCHAR" property="storeUrl" />
    <result column="pre_store_id" jdbcType="VARCHAR" property="preStoreId" />
    <result column="next_store_id" jdbcType="VARCHAR" property="nextStoreId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="order_index" jdbcType="BIGINT" property="orderIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    id, book_id, store_id, store_name, store_url, pre_store_id, next_store_id, create_time, 
    order_index
  </sql>
     <select id="queryBookStore"  resultMap="BookStoreResultMap">
    select  a.id, a.book_id, b.book_name,b.book_name_en,store_id, store_name, store_url, pre_store_id, next_store_id, a.create_time, order_index,c.cata_name,c.cata_name_en 
    from store a,book b,catagory c,cata_book_relation d 
    <where>
     c.cata_id=d.cata_id and d.book_id=b.book_id and b.book_id=a.book_id 
    <if test="bookNameEn != null">
        and  b.book_name_en=#{bookNameEn,jdbcType=VARCHAR} 
      </if> 
      <if test="storeId != null">
        and  a.store_id=#{storeId,jdbcType=VARCHAR} 
      </if> 
    </where>
     order by order_index
  </select>
       <select id="queryBookStoreData"  resultMap="ResultMapWithBLOBs">
    select  a.*,b.store_content  from store a,store_data b 
    <where>
    a.store_id=b.store_id 
      <if test="storeId != null">
        and  a.store_id=#{storeId,jdbcType=VARCHAR} 
      </if> 
    </where>
     order by a.order_index
  </select>
<select id="queryStoreCountByBookId" resultType="java.lang.Integer">
    select count(1) from store where book_id=#{bookId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from store
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zyw.novelGame.model.Store">
    insert into store (id, book_id, store_id, 
      store_name, store_url, pre_store_id, 
      next_store_id, create_time, order_index)
    values (#{id,jdbcType=VARCHAR}, #{bookId,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR}, 
      #{storeName,jdbcType=VARCHAR}, #{storeUrl,jdbcType=VARCHAR}, #{preStoreId,jdbcType=VARCHAR}, 
      #{nextStoreId,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{orderIndex,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zyw.novelGame.model.Store">
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeUrl != null">
        store_url,
      </if>
      <if test="preStoreId != null">
        pre_store_id,
      </if>
      <if test="nextStoreId != null">
        next_store_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="orderIndex != null">
        order_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeUrl != null">
        #{storeUrl,jdbcType=VARCHAR},
      </if>
      <if test="preStoreId != null">
        #{preStoreId,jdbcType=VARCHAR},
      </if>
      <if test="nextStoreId != null">
        #{nextStoreId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyw.novelGame.model.Store">
    update store
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeUrl != null">
        store_url = #{storeUrl,jdbcType=VARCHAR},
      </if>
      <if test="preStoreId != null">
        pre_store_id = #{preStoreId,jdbcType=VARCHAR},
      </if>
      <if test="nextStoreId != null">
        next_store_id = #{nextStoreId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="orderIndex != null">
        order_index = #{orderIndex,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyw.novelGame.model.Store">
    update store
    set book_id = #{bookId,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      store_url = #{storeUrl,jdbcType=VARCHAR},
      pre_store_id = #{preStoreId,jdbcType=VARCHAR},
      next_store_id = #{nextStoreId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      order_index = #{orderIndex,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyw.novelGame.model.Store">
    update store
    set book_id = #{bookId,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      store_url = #{storeUrl,jdbcType=VARCHAR},
      pre_store_id = #{preStoreId,jdbcType=VARCHAR},
      next_store_id = #{nextStoreId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      order_index = #{orderIndex,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>